.text-font-size {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 140px;
}

body {
  margin-bottom: 140px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  margin-top: 20;
}
