spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/online_bookstore
    username: ${MARIADB_USERNAME}
    password: ${MARIADB_PASSWORD}

  #  jpa:
  #    hibernate:
  #      ddl-auto: update

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: email

  ai:
    openai:
      chat:
        options:
          model: gpt-4o-mini

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}

frontend:
  url: ${FRONTEND_URL}

backend:
  url: ${BACKEND_URL}

server:
  servlet:
    session:
      cookie:
        max-age: 30m
